---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
---

<Layout title="Connexion - TAVUE">
	<Header />
	
	<main 
		class="min-h-screen bg-cover bg-center bg-no-repeat"
		style="background-image: url('/background_connexion.webp');"
	>
		<!-- Votre contenu de page de connexion ici -->
	</main>
</Layout>
